{% extends "base.html" %}

{% block content %}
    <br>
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>

        {% if form.errors %}
            <p>Zła nazwa użytkownika lub hasło.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Nie masz dostępu do tej strony. Aby przejść dalej, zaloguj się na konto, które ma dostęp.</p>
            {% else %}
                <p>Zaloguj się, aby zobaczyć tę stronę.</p>
            {% endif %}
        {% endif %}

        <main class="form-signin" style="max-width: 50%; margin: auto">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-floating">
                    <input id="floatingInput" name="username" type="text" class="form-control" placeholder="Username">
                    <label for="floatingInput">Nazwa użytkownika</label>
                </div>
                <div class="form-floating">
                    <input id="floatingPassword" name="password" type="password" class="form-control" placeholder="Password">
                    <label for="floatingPassword">Hasło</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj się</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </main>
        <p class="text-muted">Nie masz konta? <a href="{% url 'user_signup' %}" class="text-reset">Zarejestruj się</a></p>
    </div>
{% endblock %}
