body {
    height: 100vh;
    width: 100vw;
}

.menu {
    height: 100%;
    float: left;
    padding-right: 50px;
    margin-right: 15px;
    border-right: 10px solid white;
    background-color: green;
}

.main {
    background-color: grey;
    padding-bottom: 5px;
}

.title {
    color: red;
    font-size: 400%;
}