{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'likes.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Lista piosenek wykonawcy: {{musician.name}}</h1>
    </div>
    <div class='container'>
        <div class='row'>
            {% for song in songs %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    {% include 'components/song_component.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}