{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Lista piosenek wykonawcy: {{musician.name}}</h1>
    </div>
    <div class='container'>
        <div class='row'>
            {% for song in songs %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{song.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{% for musician in song.musician.all %} {% if forloop.last %} {{musician.name}} {% else %} {{musician.name}}, {% endif %} {% endfor %}</h6>
                            <p class="card-text">{{song.short_description}}</p>
                        </div>
                        <div class="card-footer d-flex align-items-center" style="border: none">
                            <div class="me-auto">
                                {% ifnotequal song.text_link 'No link' %} <a href="{{song.text_link}}" target="_blank" class="btn btn-success my-2">Tekst</a> {% endifnotequal %}
                            </div>
                            <div>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'song_like' %}" method="post" class="float-end my-2 like-form" id="{{song.id}}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" class="path" value="{{request.path}}">
                                        <input type="hidden" name="song_id" value="{{song.id}}">
                                        <button type="submit" class="btn btn-primary position-relative like-btn{{song.id}}">
                                            {% if request.user not in song.likes.all %}
                                                <i class="fas fa-thumbs-up"></i><span class="like-text{{song.id}}"> Lubię to! </span>
                                            {% else %}
                                                <i class="fas fa-thumbs-down"></i><span class="like-text{{song.id}}"> Nie lubię </span>
                                            {% endif %}
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger like-count{{song.id}}">
                                                {{song.likes.count}}
                                            </span>
                                        </button>
                                    </form>
                                {% else %}
                                    Polubienia: {{song.likes.count}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $( document ).ready(function() {
            let display = false
            $(".like-form").submit(function(e){
                e.preventDefault()
                
                const song_id = $(this).attr('id')
                const like_text = $(`.like-text${song_id}`).text()
                const trim = $.trim(like_text)
                const url = $(this).attr('action')
                const path = $(`.path`).attr('value')
                
                let res;
                const likes = $(`.like-count${song_id}`).text()
                const trim_count = parseInt(likes)
                const me = $(this)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'song_id': song_id,
                        'path': path,
                    },
                    success: function(response) {
                        if (trim === 'Nie lubię') {
                            $(`.like-text${song_id}`).text(' Lubię to!')
                            res = trim_count - 1
                            me.find('i').removeClass('fa-thumbs-down')
                            me.find('i').addClass('fa-thumbs-up')
                        }
                        else {
                            $(`.like-text${song_id}`).text(' Nie lubię')
                            res = trim_count + 1
                            me.find('i').removeClass('fa-thumbs-up')
                            me.find('i').addClass('fa-thumbs-down')
                        }

                        $(`.like-count${song_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
{% endblock %}