{% extends 'base.html' %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{song.title}}</h1>
            <h3 class="card-subtitle mb-2 text-muted">{% for musician in song.musician.all %} {% if forloop.last %} {{musician.name}} {% else %} {{musician.name}}, {% endif %} {% endfor %}</h3>
            <p class="col-md-8 fs-4">{{song.short_description}}</p>
            {% ifnotequal song.text_link 'No link' %} <a href="{{song.text_link}}" target="_blank" class="btn btn-success btn-lg">Tekst</a> {% endifnotequal %}
        </div>
    </div>
{% endblock %}