{% extends "base.html" %}

{% block content %}
    <br>
    <div class="text-center">
        <h1 class="h3 mb-3 fw-normal">Lista piosenek</h1>
    </div>
    <div class="container">
        <div class="row">
        {% for song in songs %}
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{song.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{% for musician in song.musician.all %} {% if forloop.last %} {{musician.name}} {% else %} {{musician.name}}, {% endif %} {% endfor %}</h6>
                        <p class="card-text">{{song.short_description}}</p>
                    </div>
                    <div class="card-footer d-flex" style="border: none">
                        <div class="me-auto">
                            {% ifnotequal song.text_link 'No link' %} <a href="{{song.text_link}}" target="_blank" class="btn btn-success my-2">Tekst</a> {% endifnotequal %}
                        </div>
                        <div class="align-self-center">
                            {% if user.is_authenticated %}
                                <form action="{% url 'song_like' %}" method="post" class="float-end my-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    {% if request.user not in song.likes.all %}
                                        <button type="submit" name="song_id" value="{{song.id}}" class="btn btn-primary position-relative"><i class="fas fa-thumbs-up"></i> Lubię to!
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{song.likes.count}}<span class="visually-hidden">likes</span></span>
                                        </button>
                                    {% else %}
                                        <button type="submit" name="song_id" value="{{song.id}}" class="btn btn-primary position-relative"><i class="far fa-thumbs-up"></i> Nie lubię
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{song.likes.count}}<span class="visually-hidden">likes</span></span>
                                        </button>
                                    {% endif %}
                                </form>
                            {% else %}
                                Polubienia: {{song.likes.count}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
